:root {
    --cor-primaria: darkblue;
    --cor-fundo: #eee; 
}

/* Resetar CSS do meu projeto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #222;
    background: #f9f9f9;
    margin: 0;
}
h1 {
    color: var(--cor-primaria);
}

main {
    max-width: 840px;
}

nav {
    background-color: steelblue;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%); /* 1 */
    padding: 1rem;
    background-color: var(--cor-fundo);
    color: #333;
    text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 60px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Seletores de Classe */

.caixa {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em;
    background-color: #eee;
}

.indentacao {
    padding-left: 2rem;
}